In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('play_tennis.csv')
data.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [3]:
data.drop(columns=['day'],inplace=True)

In [4]:
data

     outlook  temp humidity    wind play
0      Sunny   Hot     High    Weak   No
1      Sunny   Hot     High  Strong   No
2   Overcast   Hot     High    Weak  Yes
3       Rain  Mild     High    Weak  Yes
4       Rain  Cool   Normal    Weak  Yes
5       Rain  Cool   Normal  Strong   No
6   Overcast  Cool   Normal  Strong  Yes
7      Sunny  Mild     High    Weak   No
8      Sunny  Cool   Normal    Weak  Yes
9       Rain  Mild   Normal    Weak  Yes
10     Sunny  Mild   Normal  Strong  Yes
11  Overcast  Mild     High  Strong  Yes
12  Overcast   Hot   Normal    Weak  Yes
13      Rain  Mild     High  Strong   No

# if outlook = sunny, temp = hot, humidity = high , wind = weak
# Play or No play ?

# Machine Learning Algorithm
## training phase
### Lookup Table (Dictionary)
### Testing

# P(Yes)
# P(No)

In [5]:
value_counts = data['play'].value_counts()
total_counts = value_counts['Yes'] + value_counts['No']
py = value_counts['Yes']/ total_counts
pn = value_counts['Yes']/total_counts
py,pn

(0.6428571428571429, 0.6428571428571429)

### calculating manually now bc experienced tutor was doing so and I dont have time looking table but may change later

In [6]:
pd.crosstab(data['outlook'],data['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [7]:
Pon = 0
Prn = 2/5
Psn = 3/5

Poy = 4/9
Pry = 3/9
Psy = 2/9

In [8]:
pd.crosstab(data['temp'],data['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [13]:
PCooln = 1/5
PHotn = 2/5
PMildn = 2

PCooly = 3/9
PHoty = 2/9
PMildy = 4/9

In [15]:
pd.crosstab(data['wind'],data['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [14]:
pd.crosstab(data['humidity'],data['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [18]:
PHighn = 4/5
PNormaln = 1/5

PHighy = 3/9
PNormaly = 6/9

In [16]:
PStrongn = 3/5
PWeakn = 2/5

PStrongy = 3/9
PWeaky = 6/9

In [20]:
if(py*Psy*PHoty*PHighy*PNormaly > pn*Psn*PHotn*PHighn*PNormaln):
    print("Great news ! Match will be played")
else:
    print("Great news  for loosers ! Match will not be played")

Great news  for loosers ! Match will not be played